<nav ng-controller="MenuCtrl as menu" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Searcher</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#nowe-wyszuiwanie"><i class="fa fa-plus"></i> Nowe wyszukiwanie</a></li>
                <li><a href="#/"><i class="fa fa-list"></i> Wyszukiwania</a></li>
            </ul>
            <div class="navbar-right">
                <button ng-click="menu.logout()" type="button" class="btn btn-default navbar-btn">Wyloguj</button>
            </div>
        </div>
    </div>
</nav>