<div class="container">
    <h2><i class="fa fa-hashtag space" aria-hidden="true"></i>Nowe wyszukiwanie</h2>
    <hr>
    <form ng-submit="vm.startSearchTask()" name="searchTaskForm" >
        <div class="form-group">
            <label for="searchKeys">Słowa kluczowe</label>
            <textarea ng-model="vm.model.searchKeys" placeholder="python,java,angular"
                      class="form-control" id="searchKeys" name="searchKeys" rows="2" required></textarea>
      </div>
            <div class="form-group">
                <label for="inputFile">Plik tekstowy</label>
                <input type="file" class="form-control-file" id="inputFile" aria-describedby="fileHelp"
                       accept="txt" file-model="vm.model.file" name="inputFile" required>
            </div>
      <button type="submit" class="btn btn-primary">Rozpocznij</button>
    </form>
        <div class="col-md-8 custom-error">
            <div class="alert alert-danger" role="alert" ng-repeat="error in vm.errors">
                <strong>{{error}}</strong>
            </div>
        </div>
</div>