.top-padding {
    padding-top: 70px;
}

.space {
    margin-right: 3px;
}

.custom-error {
    padding-top: 30px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #333;
    background-color: transparent;
}

.alert {
    width: 400px;
    margin: 0 auto;
}
